<div class="card" >
    <div class="card-header">
        <b>{{ingredient.name}}</b>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-4">
                <mat-form-field>
                    <mat-label>Preço Embalagem</mat-label>
                    <input matInput type='text' mask="separator.2" prefix="R$ " [(ngModel)]="pricePack"
                        (keyup)="changePricePack()" class="text-center">
                </mat-form-field>
            </div>
            <div class="col-4">
                <mat-form-field>
                    <mat-label>Preço Embalagem</mat-label>
                    <input matInput type='text' mask="separator.2" prefix="R$ " [(ngModel)]="pricePack"
                        (keyup)="changePricePack()" class="text-center">
                </mat-form-field>
            </div>
            <div class="col-4">
                <mat-form-field>
                    <mat-label>Qtd. Embalagem ({{ingredient.unit}})</mat-label>
                    <input matInput mask="separator.2" [(ngModel)]="qtyPack" (keyup)="changeQtyPack()"
                        class="text-center">
                </mat-form-field>
            </div>
            <div class="col-4">
                <mat-form-field>
                    <mat-label>Qtd. utilizada ({{ingredient.unit}})</mat-label>
                    <input matInput mask="separator.2" [(ngModel)]="qty" (keyup)="changeQty()" class="text-center">
                </mat-form-field>
            </div> 
        </div>
    </div>
    <div class="card-footer">
        <mat-label>Custo:</mat-label>
        {{getPriceCost() | currency : "BRL"}}
    </div>
</div>