<h1 mat-dialog-title>Informe o nome da Receita</h1>

<mat-dialog-content class="mat-typography">
    <div class="container-fluid">
        <div class="row">
            <mat-form-field class="col-12"> 
                <mat-label>Nome da receita</mat-label>
                <input matInput [(ngModel)]="name">
            </mat-form-field>             
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button  (click)="onClick()" cdkFocusInitial>Alterar</button>
    <button mat-button mat-dialog-close>Cancelar</button>
</mat-dialog-actions>