/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Robot, "Helvetica Neue", sans-serif; 
    padding-top: 70px; font-size: 14px;
    background-color: whitesmoke;
    color: #5c4533;
}

.mat-expansion-panel{
    background-color: white
}