/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Robot, "Helvetica Neue", sans-serif; 
    padding-top: 70px; font-size: 14px;
    /* background-color: whitesmoke;
    color: #5c4533; */
}

.mat-expansion-panel{
    background-color: white
}

.button-new {
    width: 220px;
    height: 40px;
    padding-top: 10px;
    background: url('/assets/images/new.png') 5px 5px no-repeat; 
    background-size: 30px;
}